.ant-form-item-label
  > label.ant-form-item-required:not(.ant-form-item-required-mark-optional)::before {
  display: none;
}

.card-white {
  background: white;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15), 0 2px 2px rgba(0, 0, 0, 0.15),
    0 4px 4px rgba(0, 0, 0, 0.15), 0 8px 8px rgba(0, 0, 0, 0.15);
  border-radius: 2px;
  position: relative !important;
}

.card-black {
  background: #282c34;
  color: rgba(255, 255, 255, 0.808);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15), 0 2px 2px rgba(0, 0, 0, 0.15),
    0 4px 4px rgba(0, 0, 0, 0.15), 0 8px 8px rgba(0, 0, 0, 0.15);
  border-radius: 2px;
  position: relative !important;
}

.card-white::-webkit-scrollbar,
.card-black::-webkit-scrollbar {
  width: 4px !important;
  border-radius: 4px !important;
}
.card-white::-webkit-scrollbar-track,
.card-black::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 2px !important;
}

.card-white::-webkit-scrollbar-thumb,
.card-black::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  border-radius: 2px !important;
}

.back-btn {
  color: #10bc83;
  background: #202226;
  /* margin: 8px auto 13px; */
  cursor: pointer;
  font-weight: bold;
  box-shadow: 0 0px 3px rgba(51, 179, 166, 0.5),
    0 0px 3px rgba(51, 179, 166, 0.5), 0 0px 3px rgba(51, 179, 166, 0.5),
    0 0px 3px rgba(51, 179, 166, 0.5);
  width: 50px;
  height: 50px;
  border-radius: 50%;

  font-size: 1.2rem;
}

.back-btn:hover {
  color: white;
  background: linear-gradient(50deg, rgb(6, 149, 102) 15%, #00ede1);
}

.back-btn:active {
  box-shadow: 0 0px 2px rgba(255, 255, 255, 0.12),
    0 0px 2px rgba(255, 255, 255, 0.12), 0 0px 2px rgba(255, 255, 255, 0.12),
    0 0px 2px rgba(255, 255, 255, 0.12);
  transform: scale(0.99);
}

.search-btn,
.search-btn:focus,
.clear-search-btn,
.clear-search-btn:focus,
.delete-btn,
.delete-btn:focus,
.edit-btn,
.edit-btn:focus {
  padding-top: 5px;
  height: 32px;

  color: white;

  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 2px;
  border: none;
}

.search-btn,
.search-btn:focus {
  background: #02a9f6;
  border: none;
  min-width: 32px !important;
}

.clear-search-btn,
.clear-search-btn:focus {
  background: #f68c02;
  border: none;
  min-width: 32px !important;
}

.edit-btn,
.edit-btn:focus {
  background: #5EAD15;
  border: none;
  min-width: 32px !important;
}

.delete-btn,
.delete-btn:focus {
  background: #f6020e;
  border: none;
  min-width: 32px !important;
}

.search-btn:hover,
.delete-btn:hover,
.edit-btn:hover,
.clear-search-btn:hover {
  border: none;
}

.clear-search-btn:hover {
  background: #f68c02c5;
  border: none;
}

.search-btn:hover {
  background: #02a9f6c5;
  border: none;
}

.delete-btn:hover {
  background: #f6020ec5;
}

.edit-btn:hover {
  background: #5EAD15CF;
}
