.side-nav-wrapper {
  float: left;
  height: 100%;
  width: 100%;
  background: #282c34;
  display: flex;
  flex-flow: column;
  color: black;
  font-size: calc(10px + 2vmin);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15), 0 2px 2px rgba(0, 0, 0, 0.15),
    0 4px 4px rgba(0, 0, 0, 0.15), 0 8px 8px rgba(0, 0, 0, 0.15);
}

.menu-wrapper {
  color: rgba(255, 255, 255, 0.8) !important;
  flex: 1 1 auto;
}

.menu-wrapper::-webkit-scrollbar {
  width: 4px !important;
  border-radius: 4px !important;
}
.menu-wrapper::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 2px !important;
}

.menu-wrapper::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  border-radius: 2px !important;
}

.menu-items,
.sub-menu-items,
.selected-menu,
.menu-tooltip {
  height: 42px;
  padding: 2px 6px;
  display: flex;
  flex-flow: row;
  margin-top: 2px;
  background: rgba(2, 41, 41, 0);
  position: relative;
}

.menu-tooltip {
  left: 80px;
  height: 42px;
  top: -2px;
  width: 0;
  border-radius: 2px;
  transition: 250ms ease-in;
  overflow: hidden;
  background: #2e3238;
  padding: 0;
  border: none !important;
  z-index: -1000;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15), 0 2px 2px rgba(0, 0, 0, 0.15),
    0 4px 4px rgba(0, 0, 0, 0.15), 0 8px 8px rgba(0, 0, 0, 0.15) !important;
}

.tooltip-show {
  width: 220px;
  height: 42px;
  padding: 2px 6px;
  border: inherit !important;
  z-index: 1000;
}

.sub-menu-items {
  background: rgba(22, 22, 22, 0.37);
  margin-top: 0;
}

.menu-items:hover,
.sub-menu-items:hover {
  box-shadow: 0 1px 4px rgb(51, 179, 166, 0.5), 0 1px 4px rgb(51, 179, 166, 0.5),
    0 1px 4px rgb(51, 179, 166, 0.5), 0 1px 4px rgb(51, 179, 166, 0.5);
  transform: scaleY(1.1);
}

.menu-items:active,
.sub-menu-items:active,
.selected-menu {
  background: linear-gradient(50deg, rgb(6, 149, 102) 15%, #00ede1);
  color: white;
  box-shadow: none;
}

.selected-with-sub {
  border: 1px #00ede1 solid;
  padding-left: 5px;
  box-sizing: border-box;
}

.sub-menu-arrow {
  float: right;
  height: 100%;
  width: 18px;
  flex: 0 1 auto;
  margin-right: 2px;
}

.menu-label,
.sub-menu-label {
  height: 100%;
  display: flex;
  align-items: center;
  flex: 1 1 auto;
  font-size: 0.9rem;
  padding-left: 18px;
}
.sub-menu-label {
  padding-left: 45px;
}

.compose {
  color: #10BC83;
  background: #202226;
  margin: 8px auto 13px;
  cursor: pointer;
  font-weight: bold;
  box-shadow: 0 0px 3px rgba(51, 179, 166, 0.5),
    0 0px 3px rgba(51, 179, 166, 0.5), 0 0px 3px rgba(51, 179, 166, 0.5),
    0 0px 3px rgba(51, 179, 166, 0.5);
  border-radius: 30px;
  font-size: 1.1rem;
  padding: 7px 14px 9px 14px;
}

.compose:hover {
  color: white;
  background: linear-gradient(50deg, rgb(6, 149, 102) 15%, #00ede1);
}

.compose:active {
  box-shadow: 0 0px 2px rgba(255, 255, 255, 0.12),
    0 0px 2px rgba(255, 255, 255, 0.12), 0 0px 2px rgba(255, 255, 255, 0.12),
    0 0px 2px rgba(255, 255, 255, 0.12);
  transform: scale(0.99);
}

.menu-icon-wrapper {
  border-radius: 3px;
  width: 27px;
  display: flex;
  justify-content: center;
  height: 27px;
  align-items: center;
}