.login-wrapper {
  background: #2e3238;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: fit-content;
  width:340px;
  border-radius: 2px;
  padding-bottom: 12px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25), 0 2px 2px rgba(0, 0, 0, 0.2),
    0 4px 4px rgba(0, 0, 0, 0.15), 0 8px 8px rgba(0, 0, 0, 0.1),
    0 16px 16px rgba(0, 0, 0, 0.05);
}

.heading {
  background: linear-gradient(240deg, #00ede1 -85%, #00ede1 -85%, rgb(6, 149, 102) );
  color: white;
  font-size: 1.8rem;
  width: 100%;
  text-align: center;
  border-radius: 2px;
  padding: 5px;
}
